{:paths ["src"]
 :deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        io.github.dots-cljs/dots-node       {:mvn/version "20.12.12-9"}
        io.github.dots-cljs/dots-typescript {:mvn/version "5.4.5-6"}
        org.clojure/tools.cli               {:mvn/version "1.0.219"}}

 :aliases
 {:dev
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.5"}}}

  :shadow
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.3"}}}

  :watch
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "dots"]}}}
